#common
**/*.DS_Store
**/*.ipynb_checkpoints/
**/__pycache__
out/

gmail.py

# Ignore all .bin files in the data directory and its subdirectories
data/**/*.bin

# Ignore large data files
*.npy
*.npz
*.pkl
*.h5
*.hdf5

#SBM datasets
data/SBMs/*.pkl

#Superpixels datasets
data/superpixels/*.pkl
data/superpixels/*.zip
PATH/

#ZINC dataset
data/molecules/*.pkl
data/molecules/*.pickle
data/molecules/*.zip
data/molecules/zinc_full/*.pkl
data/molecules/zinc_full/*.pickle
data/molecules/aqsol_graph_raw/
data/molecules/aqsol_graph_raw/*.pickle
data/molecules/*.csv

#TSP
data/TSP/*.txt
data/TSP/*.pkl
data/TSP/*.zip
data/TSP/pyconcorde/
data/TSP/*.bin

#molecules
data/molecules/asqol_graph_raw/*.pickle

#COLLAB
data/COLLAB/*
dataset/

#CSL
data/CSL/*.pkl
data/CSL/*.zip
data/CSL/*.pt

#CYCLES
data/cycles/*.pkl

#GraphTheoryProp
data/graphtheoryprop/*.pkl

#WikiCS
data/WikiCS/*.json

#Visualization
visualization/*.ipynb

scripts/StatisticalResults/cycles.ipynb
scripts/StatisticalResults/wikics.ipynb
